body {
  background: #f9f8fe;
  background-image: url(images/pexels-messala-ciulla-942872.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  color: #9670f4;
}

.App {
  max-width: 460px;
  margin: 50px 0 0 800px;
}