body {
  background: #f9f8fe;
  background-image: url(images/pexels-messala-ciulla-942872.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 0.90rem;
}

a {
  color: #027184;
}
.left-content {
  margin: 200px 0 0 220px;
}
h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3.8rem;
  color:#333;
}
h2 {
  font-family: 'Meow Script', cursive;
  font-size: 2.3rem;
  color:#636363;
}
h3 {
  font-size: 1.5rem;
}